.email-list {
  flex: 1;
  overflow: scroll;
}

.email-list::-webkit-scrollbar {
  display: none;
}

.email-list {
  --ms-overflow-style: none;
  scrollbar-width: none;
}

.email-list {
  padding-bottom: 20%;
}

.emailist-settings {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  background-color: white;
  z-index: 999;
  padding-right: 10px;
}

.emaillist-sections {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  z-index: 999;
  border-bottom: 1px solid whitesmoke;
}
